{% extends "news/base.html" %}
{% load i18n %}

{% block class %}news detail{% endblock %}

{% block cntbody %}
    <div class="title"><h2>{% trans 'NEWS AND EVENTS' %}</h2></div>
    <div class="event">
        <p class="date">{% if object.translation.date_desc %}{{ object.translation.date_desc }}{% else %}{{ object.date|date:"d M Y" }}{% endif %}
        	{% if object.local %} - {{ object.local|upper }}{% endif %}</p>
        <h3>{{ object.translation.title }}</h3>
        <p class="lead">{{ object.translation.lead }}</p>
        {% if object.image %}
        <div class="image">
            <img class="thumbnail" src="{{ object.image.detail.url }}" alt="{{ object.translation.title }} image" width="254" height="160" />
        </div>
        {% endif %}
        <p class="text">{{ object.translation.text }}</p>
        <p class="meta">
        	{% if object.srcname %}in {% if object.srcurl %}<a href="{{ object.srcurl }}">{% endif %}{{ object.srcname }}{% if object.srcurl %}</a>{% endif %}<br />{% endif %}
        	{% include "common/author.html" %}<br />
        	{% include "common/tags.html" %}
        </p>
    </div>
{% endblock %}