<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
	<head>
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" type="text/css" media="screen, projection" href="{{ MEDIA_URL }}css/reset.css" />
		<link rel="stylesheet" type="text/css" media="screen, projection" href="{{ MEDIA_URL }}css/grid.css" />
		<link rel="stylesheet" type="text/css" media="screen, projection" href="{{ MEDIA_URL }}css/typography.css" />
		<link rel="stylesheet" type="text/css" media="screen, projection" href="{{ MEDIA_URL }}css/admin.css" />
		<link rel="stylesheet" type="text/css" media="screen, projection" href="{{ MEDIA_URL }}css/forms.css" />
		<!--[if IE]><link rel="stylesheet" type="text/css" media="screen, projection" href="{{ MEDIA_URL }}css/ie.css" /><![endif]-->
		{% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" media="screen, projection" href="{% block stylesheet_rtl %}{{ MEDIA_URL }}css/rtl.css{% endblock %}" />{% endif %}
		<link rel="stylesheet" type="text/css" media="print" href="{{ MEDIA_URL }}css/print.css" />
		{% block extrastyle %}{% endblock %}
		{% block extrahead %}{% endblock %}
		{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
		<!--[if gte IE 5.5]>
		<script type="text/javascript" src="{{ MEDIA_URL }}js/iepngfix.js"></script>
		<style type="text/css">
			.iepngfix { behavior: expression(IEPNGFIX.fix(this)); }
			img { behavior: expression(IEPNGFIX.fix(this)); }
		</style>
		<![endif]-->
	</head>	
{% load i18n %}

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">

		<div id="container">

			{% if not is_popup %}
			<div id="header" class="span-4 last">
				
				<img id="sitelogo" src="{{ MEDIA_URL }}img/admin/logo.png" width="350" height="60" />
				{% block nav-global %}{% endblock %}
			</div>
			{% block breadcrumbs %}<div class="span-4 last breadcrumbs"><a href="/">{% trans 'Home' %}</a>{% if title %} &rsaquo; {{ title|escape }}{% endif %}</div>{% endblock %}
			{% endif %}
			
			<div id="content" class="span-4 last">
				{% if messages %}
				<div id="messagelist" class="span-4 last">
					<ul>{% for message in messages %}<li>{{ message|escape }}</li>{% endfor %}</ul>
				</div>
				{% endif %}
				
				<div id="sidebar" class="span-1">
					{% if user.is_authenticated and user.is_staff %}
					<div id="menu" class="module">
						<h2>{% trans 'Account' %}</h2>
						<p>{% trans 'User' %}: <strong>{% if user.first_name %}{{ user.first_name|escape }}{% else %}{{ user.username }}{% endif %}</strong></p>
						<ul>
						{% block userlinks %}
							<li><a href="{% url django.contrib.admin.views.doc.doc_index %}">{% trans 'Documentation' %}</a></li>
							<li><a href="{% url django.contrib.auth.views.password_change %}">{% trans 'Change password' %}</a></li>
							<li><a href="{% url django.contrib.auth.views.logout %}">{% trans 'Log out' %}</a></li>
						{% endblock %}
						</ul>
					</div>
					{% endif %}
					
					{% block sidebar %}{% endblock %}
				</div>
				
				<div id="contents" class="span-3 last">
					{% block pretitle %}{% endblock %}
					{% block content_title %}{% if title %}<h1>{{ title|escape }}</h1>{% endif %}{% endblock %}
					{% block content %}
					{% block object-tools %}{% endblock %}
					{{ content }}
					{% endblock %}
				</div>
				
				<div class="span-4 last" />
				
				{% block footer %}<div id="contentfooter"></div>{% endblock %}
			</div>
			
			<div id="footer" class="span-4 last">
				<div id="copy">
					<p class="credits">
						Design by <a title="Designer" href="mailto:kimus.linuxus@gmail.com">kimus.linuxus</a> |
						Powered by <a title="django blocks" href="http://code.google.com/p/django-blocks/">Django Blocks</a> |
						<a title="Validate XHTML code" href="http://validator.w3.org/check?uri=referer">W3C XHTML 1.0</a> |
						<a title="Validate CSS code" href="http://jigsaw.w3.org/css-validator/">W3C CSS 2.0</a>
					</p>
				</div>
			</div>
		</div>

</body>
</html>
