{% extends "base.html" %}

{% block contents %}
	<div id="contents" class="span-2">
		{% block content %}No content provided{% endblock %}
	</div>
	
	<div id="sidebar" class="span-2 last">
		{% block teaser %}
		{% endblock %}				
		
		<div class="span-1" id="secmenu">
			{% block menu %}
			<a href="/about/"><img src="{{ MEDIA_URL }}img/beginers.png" width="230" height="56" border="0" /></a>
			<ul>
				{% load contenttypes %}
				{% get_menu_list secondary as secondary_list %}
				{% for menu in secondary_list %}
				<li><a href="{{ menu.url }}">{{ menu.title }}</a></li>
				{% endfor %}
			</ul>
			<a href="/about/"><img src="{{ MEDIA_URL }}img/ubuntupub.png" width="230" height="135" border="0" /></a>
			{% endblock %}
		</div>
	
		<div class="span-1 last">
			<div class="block news">
				<h2>Últimas</h2>
				<div>
					{% load aggregator %}
					{% get_feed_list as feed_list limit 8 %}
					{% for item in feed_list %}
					<p>
						<span class="feed">{{ item.feed}}</span><span class="date">{{ item.date_modified|date:"j F Y" }}</span><br />
						<a class="title" href="/planet/{{ item.id }}">{{ item.title }}</a>
					</p>
					{% endfor %}
				</div>
			</div>
		</div>
						
		{% block help %}
		{% endblock %}
	</div>
{% endblock %}