{% if is_paginated %}
<div class="pages">
    {% if page_obj.has_previous %}
        <a title="goto previous page" href="?page={{ page_obj.previous_page_number }}{{ getvars }}" class="nextprev">&lsaquo;&lsaquo; previous</a>
    {% else %}
        <span class="nextprev">&lsaquo;&lsaquo; previous</span>
    {% endif %}
    {% for page in paginator.page_range %}
        {% if page %}
            {% ifequal page page_obj.number %}
                <span class="current">{{ page }}</span>
            {% else %}
                <a title="goto page {{ page }}" href="?page={{ page }}{{ getvars }}" class="page">{{ page }}</a>
            {% endifequal %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
        <a title="goto next page" href="?page={{ page_obj.next_page_number }}{{ getvars }}" class="nextprev">next &rsaquo;&rsaquo;</a>
    {% else %}
        <span class="nextprev">next &rsaquo;&rsaquo;</span>
    {% endif %}
</div>
{% endif %}