/* -------------------------------------------------------------- 

   rtl.css (Right To Left)
   * Mirrors Blueprint for right-to-left languages.
   
   By Ran Yaniv Hartstein [ranh.co.il]
   
-------------------------------------------------------------- */

body .container { direction: rtl; }
body .column {
  float: right;
  margin-right: 0;
  margin-left: 10px;
}

body .last { margin-left: 0; }
body table .last { padding-left: 0; } 

body .append-1   { padding-right: 0; padding-left: 230px; }  
body .append-2   { padding-right: 0; padding-left: 470px; } 
body .append-3   { padding-right: 0; padding-left: 710px; } 

body .prepend-1   { padding-left: 0; padding-right: 230px; }  
body .prepend-2   { padding-left: 0; padding-right: 470px; } 
body .prepend-3   { padding-left: 0; padding-right: 710px; } 

body .border {
  padding-right: 0;
  padding-left: 4px;
  margin-right: 0;
  margin-left: 5px;
  border-right: none;
  border-left: 1px solid #eee;
}

body .colborder {
  padding-right: 0;
  padding-left: 24px;
  margin-right: 0;
  margin-left: 25px;
  border-right: none;
  border-left: 1px solid #eee;
}

body .pull-1  { margin-left: 0; margin-right: -230px; }
body .pull-2  { margin-left: 0; margin-right: -470px; }
body .pull-3  { margin-left: 0; margin-right: -710px; }
body .pull-4  { margin-left: 0; margin-right: -960px; }

body .push-0  { margin: 0 18px 0 0; }
body .push-1  { margin: 0 18px 0 -230px; }
body .push-2  { margin: 0 18px 0 -470px; }
body .push-3  { margin: 0 18px 0 -710px; }
body .push-4  { margin: 0 18px 0 -960px; }
body .push-0, body .push-1, body .push-2, 
body .push-3, body .push-4 { float: left; }


/* Typography with RTL support */
body h1,body h2,body h3,
body h4,body h5,body h6 { font-family: Arial, sans-serif; }
html body { font-family: Arial, sans-serif;  }
body pre,body code,body tt { font-family: monospace; } 

/* Mirror floats and margins on typographic elements */
body p img { float: right; margin: 1.5em 0 1.5em 1.5em; }
body dd, body ul, body ol { margin-left: 0; margin-right: 1.5em;}
body td, body th { text-align:right; }
