a:link, a:visited {
	color: #299;
}

a:hover {
	color: #666;
}

#contents .block
{
	background: #fff url(../img/blockbg.png) repeat-x scroll 0 0;
	padding: 1em;
}

.admin.block
{
	border: none;
    margin: .3em;
}

dl
{
	padding: 1em;
	padding-top: 0em;
}

dt span
{
	font-size: .8em;
}

dd
{
	padding-bottom: 1em;
	color: #666;
}

#sidebar .module
{
}

#sidebar .module h2,
#contents h1
{
	background-color: #666;
	color: #fff;
	padding: 3px 10px 3px 10px;
	line-height: 20px;
	height: 20px;
}

div#footer
{
	padding-top: 2em;
	height: 5em;
}

#footer #copy {
	border-top: 1px solid #250;
	color: #7C7C7C;
	font-size: .9em;
	padding: 1em;
	text-align: center;
}

#content-main .block
{
	border: 1px solid #D9EAF5;
	margin-bottom: 10px;
}

form th,
form td
{
	padding: 2px 4px;
}

form td.aligned
{
	padding: 4px 2px;
}

form tbody td
{
	overflow: hidden;
}

form tr.row1
{
	background-color: #eee;
}

form tr.row2
{
	background-color: #fff;
}

form tbody th
{
	background-color: #dddfff;
}


/* MODULES */
.clockbox, .calendarbox { border:1px solid #ccc; margin-bottom:5px; padding: 1em; background:white; }
.clockbox table, .calendarbox table { border-collapse: collapse; width: 1%; }
.clockbox h2, .calendarbox h2 { margin:0; padding:2px 5px 3px 5px; font-size:11px; text-align:left; font-weight:bold; background:#7CA0C7 url(../img/admin/default-bg.gif) top left repeat-x; color:white; }

/* MESSAGES & ERRORS */
ul.messagelist { padding:0 0 5px 0; margin:0; }
ul.messagelist li { font-size:12px; display:block; padding:4px 5px 4px 25px; margin:0 0 3px 0; border-bottom:1px solid #ddd; color:#666; background:#ffc url(../img/admin/icon_success.gif) 5px .3em no-repeat; }
.errornote { font-size:12px !important; display:block; padding:4px 5px 4px 25px; margin:0 0 3px 0; border:1px solid red; color:red;background:#ffc url(../img/admin/icon_error.gif) 5px .3em no-repeat; }
ul.errorlist { margin:0 !important; padding:0 !important; }
.errorlist li { font-size:12px !important; display:block; padding:4px 5px 4px 25px; margin:0 0 3px 0; border:1px solid red; color:white; background:red url(../img/admin/icon_alert.gif) 5px .3em no-repeat; }
td ul.errorlist { margin:0 !important; padding:0 !important; }
td ul.errorlist li { margin:0 !important; }
.errors { background:#ffc; }
.errors input, .errors select { border:1px solid red; }
div.system-message { background: #ffc; margin: 10px; padding: 6px 8px; font-size: .8em; }
div.system-message p.system-message-title { padding:4px 5px 4px 25px; margin:0; color:red; background:#ffc url(../img/admin/icon_error.gif) 5px .3em no-repeat; }
.description { font-size:12px; padding:5px 0 0 12px; }