{% extends "base_weblog.html" %}

{% block title %}Weblog | {{ object.headline|escape }}{% endblock %}

{% load humanize %}
{% block content %}
	
	<div class="block last">
		<h2>{{ blog.title }}</h2>
		<div class="bbody">Posted by <strong>{{ blog.author }}</strong> | <span class="date">{{ blog.publish_date|naturalday:"F j, Y" }} @ {{ blog.publish_date|date:"H:i" }}</span>{% if blog.tags %}<span class="tags"> | Filed under: {% for tag in blog.tags %}<a href="/blog/tag/{{tag.name|slugify}}/">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</span>{% endif %}</div>
		<div class="bbody">
			{{ blog.lead }}
			{{ blog.body }}
		</div>
	</div>

	{% load comments comment_utils %}
	{% get_public_free_comment_list for blog.blogentry object.id as comment_list %}

	{% if comment_list %}
	<div id="content-secondary" class="block last">
		<h2 id="comments">Comments</h2>
		<div class="bbody">
			{% for comment in comment_list %}
			<div class="comment" id="c{{ comment.id }}">
				<h3>{{ comment.person_name|escape }} <span class="small quiet">{{ comment.submit_date|date:"F j, Y" }} at {{ comment.submit_date|date:"P" }}</span></h3>
				{{ comment.comment|escape|urlizetrunc:"40"|linebreaks }}
			</div>
			{% endfor %}
		</div>
	</div>
	{% endif %}

	{% if object.comments_enabled %}
	<div class="block last">		
		<h2>Post a comment</h2>
		<div class="bbody">
		{% free_comment_form for blog.blogentry object.id %}
		</div>
	</div>
	{% endif %}
{% endblock %}
